sphinx>=1.4
sphinx_rtd_theme
sphinx-hoverxref
sphinx-express
ipykernel
nbsphinx
sphinxcontrib-bibtex
sphinx-autodoc-typehints
sphinxext-opengraph
nbsphinx-link
sphinx_book_theme
sphinx_copybutton
sphinx_design
scanpydoc>=0.4.5
sphinx-autoapi
nbsphinx
anndata>=0.8.0
scanpy>=1.8.1
numpy
pandas
tensorstore
scipy
geopandas
fastparquet
xarray
zarr
spatial_image
dask
